<mat-toolbar class="mat-toolbar-sm bg-primary-accent">
  <span>ng-cms</span>
  <small class="ml-2 flex-grow-1">
    <a routerLink="/" mat-icon-button color="accent" matTooltip="Visit Site">
      <mat-icon>home</mat-icon>
    </a>
  </small>

  <a mat-icon-button color="primary" [matMenuTriggerFor]="topMenu">
    <mat-icon>more_vert</mat-icon>
  </a>

  <mat-menu #topMenu="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent>
      <a routerLink="/user/jared" mat-menu-item>
        <mat-icon>person</mat-icon> Jared
      </a>
      <a mat-menu-item [routerLink]="['/', 'login']">
        <mat-icon>exit_to_app</mat-icon> Logout
      </a>
      <span mat-menu-item (click)="$event.stopPropagation()" [disableRipple]="true">
        <mat-slide-toggle color="accent" (change)="setTheme($event)" [checked]="isDarkTheme">Dark Theme</mat-slide-toggle>
      </span>
    </ng-template>
  </mat-menu>
</mat-toolbar>
