<header class="mat-elevation-z1">
  <mat-toolbar color="primary" class="mat-toolbar-sm">
    <span>ng-cms</span>
    <small class="ml-2">
      <a mat-icon-button matTooltip="Visit Site">
        <mat-icon>home</mat-icon>
      </a>
    </small>

    <span class="flex-grow-1"></span>

    <a mat-icon-button [matMenuTriggerFor]="topMenu">
      <mat-icon>more_vert</mat-icon>
    </a>

    <mat-menu #topMenu="matMenu" [overlapTrigger]="false">
      <span mat-menu-item [disableRipple]="true"><mat-icon>person</mat-icon> Jared</span>
      <a [routerLink]="['/', 'login']" mat-menu-item>Log Out</a>
    </mat-menu>
  </mat-toolbar>
</header>
