header {
  position: relative;
  z-index: 2;
}

.mat-sidenav-container {
  .mat-sidenav {
    width: 200px;
    transition: width .1s linear;
  }  

  &.closed {
    .mat-sidenav {
      width: 4.5em;
    }

    .mat-sidenav-content {
      margin-left: 4.5em !important;
    }
  }
}
