/* For use in src/lib/core/theming/_palette.scss */
$app-dark: (
    50 : #e6ecf0,
    100 : #c2ced9,
    200 : #99aebf,
    300 : #708ea5,
    400 : #517592,
    500 : #325d7f,
    600 : #2d5577,
    700 : #264b6c,
    800 : #1f4162,
    900 : #13304f,
    A100 : #8abeff,
    A200 : #57a2ff,
    A400 : #2485ff,
    A700 : #0a77ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$app-accent: (
    50 : #edebf0,
    100 : #d3ced8,
    200 : #b6aebf,
    300 : #998da5,
    400 : #837491,
    500 : #6d5c7e,
    600 : #655476,
    700 : #5a4a6b,
    800 : #504161,
    900 : #3e304e,
    A100 : #c99dff,
    A200 : #ad6aff,
    A400 : #9137ff,
    A700 : #831eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$app-warn: (
    50 : #fdeef0,
    100 : #fbd5d9,
    200 : #f9b9bf,
    300 : #f69ca5,
    400 : #f48792,
    500 : #f2727f,
    600 : #f06a77,
    700 : #ee5f6c,
    800 : #ec5562,
    900 : #e8424f,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd4d7,
    A700 : #ffbabf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-primary: (
    50 : #f7edf0,
    100 : #ecd3db,
    200 : #e0b6c3,
    300 : #d398aa,
    400 : #c98298,
    500 : #c06c86,
    600 : #ba647e,
    700 : #b25973,
    800 : #aa4f69,
    900 : #9c3d56,
    A100 : #ffedf2,
    A200 : #ffbacc,
    A400 : #ff87a5,
    A700 : #ff6e92,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-light: (
    50 : #fef6f2,
    100 : #fde8df,
    200 : #fcd9ca,
    300 : #fbc9b4,
    400 : #fabea4,
    500 : #f9b294,
    600 : #f8ab8c,
    700 : #f7a281,
    800 : #f69977,
    900 : #f58a65,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fffefd,
    A700 : #ffeae4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

